{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{{ form.vars.value.commentContent }}
<div>    
    {% if comment is defined %}
    <p>Treść komentarza: {{ comment.commentContent }}</p>    
    <p>Data: {{ comment.commentDate|date('d-m-Y') }}</p>
    {% endif %}        
<div>
